@charset "utf-8";
.mycart{
	font-size: 14px;
	font-family: "microsoft yahei";
	background: #f5f5f5;
}
.mycart .wrap{
	width: 1200px;
	margin: 0 auto;
}
.mycart .cartit{
	border-bottom: 2px solid #D70057;
	height: 60px;
	line-height: 60px;
}
.cartit h1{
	font-size: 30px;
	line-height: 48px;
	color: #333;
	display: inline-block;
	font-weight: normal;
}
.mycart .cartlist{
	background: #f5f5f5;
}
.cartlist table th{
	height: 77px;
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #e8e8e8;
	background: #fff;
}
.listin ul{
	height: 160px;
}
.listin ul li{
	padding: 30px 0;
	float: left;
	text-align: center;
}
.listin ul li.td-checkbox{
	width: 110px;
	padding-top: 60px;
}
.listin ul li.td-checkbox input{
	margin-left: -38px;
}
.listin ul li.td-gname{
	width: 470px;
	text-align: left;
}
.listin ul li.td-gprice,
.listin ul li.td-gmoney,
.listin ul li.td-option{
	width: 110px;
}
.listin ul li.td-option a{
	display: block;
	margin-left:40px;
}
.listin ul li.td-gamount{
	width: 240px;
}
.listin ul li.td-gamount .td-amount-wrapper{
	margin-left: 80px;
}

.listin .gsize{
	margin-left: 91px;
	margin-top: 10px;
}
.cart-goods-item {
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}
.cart-goods-item .td-inner .goods-img {
	float: left;
	width: 80px;
	height: 80px;
}
.cart-goods-item .td-gname .goods-img img
 {
	width: 80px;
	height: 80px;
}
.cart-goods-item .td-gname .goods-name {
	margin-left: 91px;
	padding-right: 20px;
} 
.cart-goods-item .td-amount-wrapper {
	width: 77px;
	height: 80px;
	position: relative;
}
.cart-goods-item .td-amount-wrapper .amount-option {
	position: absolute;
	top: 0;
	width: 17px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border: 1px solid #ccc;
	color: #000;
}
.cart-goods-item .td-amount-wrapper .amount-decrease {
	left: 0;
	cursor: pointer;
}
.cart-goods-item .td-amount-wrapper .amount-input{
	width: 39px;
	left: 19px;
	border-color: #888;
	outline: none;
}
.cart-goods-item .td-amount-wrapper .amount-increase {
	right: 0;
	cursor: pointer;
}
.cart-goods-item .td-amount-wrapper span:hover {
	border-color: #f60;
	color: #f60;
}
.cart-goods-item .td-gmoney {
	color: #f60;
	font-weight: 700;
}
.cart-option {
	height: 50px;
	line-height: 50px;
	margin-top: 30px;
	border-top: 1px solid #ccc;
	background: #fff;
}
.cart-option .options {
	float: left;
}
.cart-option .options .options-item {
	float: left;
	margin:0 30px 0 10px;
}
.cart-option .cart-info {
	float: right;
}
.cart-option .cart-info .info-item {
	float:left;
	margin-left: 20px;
}
.cart-option .cart-info .go-pay {
	width: 150px;
	text-align: center;
	background-color: #D70057;
	color: #fff;
	font-size: 18px;
	letter-spacing: 10px;
	cursor: not-allowed;
}
.cart-option .cart-info .go-pay.can-pay {
	cursor: pointer;
	background-color: #bd004d;
}
.options-item input{
	margin-left: 15px;
}
.listin{
	background: #fff;
}
.goods-img img{
	border: 1px solid #e8e8e8;
}
.goods-amount{
	margin-right: 30px;
}
.goods-amount span{
	margin: 0 10px;
	color: #d70057;
	font-size: 14px;
	padding: 0 5px;
}
.goods-money span{
	margin: 0 10px;
	color: #d70057;
	font-size: 14px;
	padding: 0 5px;
}
