@charset "utf-8";
#minihead{
	width: 990px;
	border-bottom: 2px solid #dc5751;
	height: 65px;
	margin: 0 auto;
	overflow: hidden;
}
#minihead .logo{
	float: left;
}
#minihead .head-right{
	margin: 30px 10px 0 0;
}
#minihead .head-right a{
	color: #666;
	font-family: "微软雅黑";
}
#minihead .head-right a:hover{
	color: #c33;
}
#minihead .head-right i{
	color: #666;
	margin: 0 5px;
}
#minihead .head-right .help{
	margin-left: 10px;
}
.clearB{
	clear: both;
}
#log{
	width: 990px;
	height: 588px;
	margin: 0 auto;
}
#log .logimg{
	float: left;
}
#log .loginfo{
	margin: 50px 0 0 60px;
	position: relative;
}
#log .user{
	width: 305px;
	height: 46px;
	background: url(../img/login.png) no-repeat 0 -16px;
}
#log .loginfo p{
	color: #676767;
	font-size: 14px;
	vertical-align: bottom;
}
#log .triangle{
	display: block;
	background: url(../img/login.png) no-repeat 0 0;
	width: 18px;
	height: 8px;
	margin-left: 260px;
}
#log .loginfo .triangle.focus{
	background: url(../img/login.png) no-repeat 0 -8px;
}
#log .user{
	margin: 10px 0 10px 0;
}
#log .user.focus,
#log .pass.focus{
	background: url(../img/login.png) no-repeat 0 -62px;
}
#log .user input,
#log .pass input{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	height: 20px;
	width: 280px;
	font-size: 14px;
	border: 0;
	background: #FFFFFF;
	margin: 13px 0 0 12px;
	line-height:20px;
}
#log .pass{
	margin-top: 10px;
	background: url(../img/login.png) no-repeat 0 -16px;
	width: 305px;
	height: 46px;
}
#log .forget{
	margin-top: 10px;
}
#log .forget a{
	color: #999;
	text-decoration: underline;
	margin-left: 245px;
}
#log .logbtn{
	margin-top: 30px;
	margin-left: 5px;
}
#log .logbtn input{
	background: url(../img/login.png) no-repeat 0 -453px;
	width: 138px;
	height: 50px;
	border: none;
	cursor: pointer;
	float: left;
}
#log .logbtn input.hover{
	background: url(../img/login.png) no-repeat 0 -504px
}
#log .logbtn a{
	display: block;
	float: left;
	font-size: 11px;
	margin-top: 14px;
	margin-left: 5px;
	color: #368427;
	background: #ecf7ef;
	padding: 5px;
}
#log .line{
	width: 306px;
	height: 2px;
	background: #dbdbdb;
	margin-top: 20px;
}
#log .others{
	width: 301px;	
}
#log .others p{
	color: #999;
	font-size: 12px;
	line-height: 24px;
	margin: 8px 0 5px 5px;
}
#log .others a{
	margin-right: 5px;
}
#minifoot{
	width: 990px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	background: #f2f2f2;
	color: #999;
	font-size: 12px;
	margin: 0 auto;
}