@charset "utf-8";
#nav2{
	width: 100%;
	height: 40px;
	background: #000;
}
#nav2 ul li{
	float: left;
	position: relative;
}
#nav2 ul li a.otls{
	background: url(../img/icon2.png) no-repeat -187px -46px;
	width: 122px;
	float: left;
	margin-top: -6px;
	height: 46px;
	display: block;
}
#nav2 ul li a.glb{
	background: url(../img/glb.gif) no-repeat;
	width: 120px;
}
#nav2 ul li a{
	width: 100px;
	text-align: center;
	display: block;
	color: #fff;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	font-family: "微软雅黑";
	position: relative;
	transition: color 0.3s linear;
}
#nav2 ul li a:hover{
	color: #d70057;
}
#nav2 .navsub{
	width: 1120px;
	height: 390px;
	position: absolute;
	left: -200px;
	padding: 10px;
	display: none;
	z-index: 9999;
	background: #fff;
}
#nav2 .navsub .navarr{
	position: absolute;
	top: -12px;
	left: 243px;
	color: #fff;
}
#nav2 .navsub .box a:hover{
	color: #c33;
}
#nav2 .navsub .box{
	width: 360px;
	border-right: 1px dashed #999;
	float: left;
}
#nav2 .navsub .box a{
	float: left;
	font-family: "微软雅黑";
	font-size: 12px;
	height: 26px;
	width: auto;
	margin-right: 15px;
	color: #5E5E5E;
	white-space: nowrap;
	display: inline;
}
#nav2 .navsub .box h2{
	font-size: 14px;
	color: #D20D33;
	margin-top: 10px;
}
#nav2 .navsub .box h3{
	font-size: 12px;
}
#nav2 .navsub .box1 p{
	width: 330px;
	height: 90px;
}
#nav2 .navsub .box2{
	width: 470px;
	height: 380px;
	padding-left: 10px;
}
#nav2 .navsub .box2 p{
	width: 470px;
	height: 100px;
}
#nav2 .navsub .box2 .p1{
	height: 70px;
}
#nav2 .navsub .box2 .p2{
	height: 30px;
}
#nav2 .navsub .box3{
	width: 260px;
	padding-left:10px;
	height: 380px;
	border-right: none;
}

#nav2 .navsub2{
	width: 1120px;
	height: 390px;
	position: absolute;
	left: -300px;
	padding: 10px;
	display: none;
	z-index: 9999;
	background: #fff;
}
#nav2 .navsub2 .navarr{
	position: absolute;
	top: -12px;
	left: 343px;
	color: #fff;
}
#nav2 .navsub2 .box a:hover{
	color: #c33;
}
#nav2 .navsub2 .box{
	width: 360px;
	border-right: 1px dashed #999;
	float: left;
}
#nav2 .navsub2 .box1{
	height: 380px;
}
#nav2 .navsub2 .box a{
	float: left;
	font-family: "微软雅黑";
	font-size: 12px;
	height: 26px;
	width: auto;
	margin-right: 15px;
	color: #5E5E5E;
	white-space: nowrap;
	display: inline;
}
#nav2 .navsub2 .box h2{
	font-size: 14px;
	color: #D20D33;
	margin-top: 10px;
}
#nav2 .navsub2 .box h3{
	font-size: 12px;
}
#nav2 .navsub2 .box1 p{
	width: 330px;
	height: 90px;
}
#nav2 .navsub2 .box2{
	width: 470px;
	height: 380px;
	padding-left: 10px;
}
#nav2 .navsub2 .box2 p{
	width: 470px;
	height: 100px;
}
#nav2 .navsub2 .box2 .p1{
	height: 70px;
}
#nav2 .navsub2 .box2 .p2{
	height: 30px;
}
#nav2 .navsub2 .box3{
	width: 260px;
	padding-left:10px;
	height: 380px;
	border-right: none;
}

#nav2 .navsub3{
	width: 1120px;
	height: 390px;
	position: absolute;
	left: -400px;
	padding: 10px;
	display: none;
	z-index: 9999;
	background: #fff;
}
#nav2 .navsub3 .navarr{
	position: absolute;
	top: -12px;
	left: 443px;
	color: #fff;
}
#nav2 .navsub3 .box a:hover{
	color: #c33;
}
#nav2 .navsub3 .box{
	width: 360px;
	border-right: 1px dashed #999;
	float: left;
}
#nav2 .navsub3 .box1{
	height: 380px;
}
#nav2 .navsub3 .box a{
	float: left;
	font-family: "微软雅黑";
	font-size: 12px;
	height: 26px;
	width: auto;
	margin-right: 15px;
	color: #5E5E5E;
	white-space: nowrap;
	display: inline;
}
#nav2 .navsub3 .box h2{
	font-size: 14px;
	color: #D20D33;
	margin-top: 10px;
}
#nav2 .navsub3 .box h3{
	font-size: 12px;
}
#nav2 .navsub3 .box1 p{
	width: 330px;
	height: 90px;
}
#nav2 .navsub3 .box2{
	width: 470px;
	height: 380px;
	padding-left: 10px;
}
#nav2 .navsub3 .box2 p{
	width: 470px;
	height: 100px;
}
#nav2 .navsub3 .box2 .p1{
	height: 70px;
}
#nav2 .navsub3 .box2 .p2{
	height: 30px;
}
#nav2 .navsub3 .box3{
	width: 260px;
	padding-left:10px;
	height: 380px;
	border-right: none;
}

#nav2 .navsub4{
	width: 1120px;
	height: 390px;
	position: absolute;
	left: -500px;
	padding: 10px;
	display: none;
	z-index: 9999;
	background: #fff;
}
#nav2 .navsub4 .navarr{
	position: absolute;
	top: -12px;
	left: 543px;
	color: #fff;
}
#nav2 .navsub4 .box a:hover{
	color: #c33;
}
#nav2 .navsub4 .box{
	width: 360px;
	border-right: 1px dashed #999;
	float: left;
}
#nav2 .navsub4 .box1{
	height: 380px;
}
#nav2 .navsub4 .box a{
	float: left;
	font-family: "微软雅黑";
	font-size: 12px;
	height: 26px;
	width: auto;
	margin-right: 15px;
	color: #5E5E5E;
	white-space: nowrap;
	display: inline;
}
#nav2 .navsub4 .box h2{
	font-size: 14px;
	color: #D20D33;
	margin-top: 10px;
}
#nav2 .navsub4 .box h3{
	font-size: 12px;
}
#nav2 .navsub4 .box1 p{
	width: 330px;
	height: 90px;
}
#nav2 .navsub4 .box2{
	width: 470px;
	height: 380px;
	padding-left: 10px;
}
#nav2 .navsub4 .box2 p{
	width: 470px;
	height: 100px;
}
#nav2 .navsub4 .box2 .p1{
	height: 70px;
}
#nav2 .navsub4 .box2 .p2{
	height: 30px;
}
#nav2 .navsub4 .box3{
	width: 260px;
	padding-left:10px;
	height: 380px;
	border-right: none;
}

#nav2 .navsub5{
	width: 1180px;
	height: 390px;
	position: absolute;
	left: -600px;
	padding: 10px;
	display: none;
	z-index: 9999;
	background: #fff;
}
#nav2 .navsub5 .navarr{
	position: absolute;
	top: -12px;
	left: 643px;
	color: #fff;
}
#nav2 .navsub5 .box a:hover{
	color: #c33;
}
#nav2 .navsub5 .box{
	width: 360px;
	border-right: 1px dashed #999;
	float: left;
}
#nav2 .navsub5 .box1{
	height: 380px;
}
#nav2 .navsub5 .box a{
	float: left;
	font-family: "微软雅黑";
	font-size: 12px;
	height: 26px;
	width: auto;
	margin-right: 15px;
	color: #5E5E5E;
	white-space: nowrap;
	display: inline;
}
#nav2 .navsub5 .box h2{
	font-size: 14px;
	color: #D20D33;
	margin-top: 10px;
}
#nav2 .navsub5 .box h3{
	font-size: 12px;
}
#nav2 .navsub5 .box1 p{
	width: 330px;
	height: 90px;
}
#nav2 .navsub5 .box2{
	width: 533px;
	height: 380px;
	padding-left: 10px;
}
#nav2 .navsub5 .box2 p{
	width: 470px;
	height: 100px;
}
#nav2 .navsub5 .box2 .p1{
	height: 70px;
}
#nav2 .navsub5 .box2 .p2{
	height: 30px;
}
#nav2 .navsub5 .box3{
	width: 260px;
	padding-left:10px;
	height: 380px;
	border-right: none;
}