@charset "utf-8";


#banner{
	width: 100%;
	height: 350px;
	overflow: hidden;
	position: relative;
}
#banner .img-wrap{
	height: 100%;
	width: 100%;
	position: relative;
}
#banner .img-wrap a{
	display: block;
	height: 100%;
}
#banner .img-wrap img{
	height: 100%;
	width: 100%;
	position: absolute;
	display: none;
	top: 0;
	left: 0;
}
#banner .arrow{
	display: none;
	width: 40px;
	height: 50px;
	background: #ccc;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	opacity: 0.5;
	line-height: 50px;
	font-size: 30px;
	text-align: center;
	cursor: pointer;
}
#banner .arrow.arrow-left{
	position: absolute;
	left: 0;
}
#banner .arrow.arrow-right{
	position: absolute;
	right: 0;
}
#banner .circle{
	height: 20px;
	position: absolute;
	bottom: 5px;
	text-align: center;
	width: 100%;
}
#banner .circle .circle-wrap{
	display: inline-block;
	height: 20px;
}

#banner .circle .circle-item{
	width: 10px;
	height: 10px;
	border: 1px solid #fff;
	background: #fff;
	border-radius: 50%;
	float: left;
	margin: 0 6px;
	opacity: 0.5;
}
#banner .circle .circle-item.active{
	background: #D70057;
}
#banner .circle .circle-wrap:after{
	display: block;
	content: '';
	height: 0;
	clear: both;
}


#brand{
	background: #f5f5f5;
	height: 315px;
	width: 100%;
}
#brand .brandin a{
	width: 99px;
	text-align: center;
	height: 64px;
	background: #fff;
	display: block;
	float: left;
	border-bottom: 1px solid #f5f5f5;
	border-right: 1px solid #f5f5f5;
}

#list{
	width: 100%;
	height: 1750px;
	margin-top: 30px;
}
#list ul li{
	float: left;
	margin-bottom: 10px;
	margin-right: 10px;
}
#list .wrap{
	width: 1220px;
}
#list ul li a{
	width: 593px;
	height: 208px;
	display: block;
	border: 1px solid #e7e7e7;
	font-family: "微软雅黑";
	position: relative;
}
#list ul li a .tit1{
	position: absolute;
	top: 76px;
	color: #333;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	width: 200px;		
}
#list ul li a .tit2{
	position: absolute;
	top: 94px;
	color: #333;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	width: 200px;		
}
#list ul li a .tit3{
	position: absolute;
	top: 144px;
	color: #d70057;
	font-size: 20px;
	line-height: 18px;
	text-align: center;
	width: 200px;		
}
#list ul li a .time{
	position: absolute;
	left: 48px;
	bottom: 10px;
	color: #666;
}
#list ul li a .time i{
	color: #d70057;
	padding: 0 2px;
}

#list2{
	width: 100%;
	height: 2070px;
	margin-top: 30px;
}
#list2 ul li{
	float: left;
	margin-bottom: 15px;
	margin-right: 15px;
}
#list2 .wrap{
	width: 1220px;
}
#list2 ul li a{
	width: 388px;
	height: 329px;
	display: block;
	border: 1px solid #e7e7e7;
	font-family: "微软雅黑";
	position: relative;
}
#list2 ul li a p{
	position: absolute;
	left: 20px;
	bottom: 50px;
	color: #333;
	line-height: 18px;
	width: 250px;
	text-align: left;
	font-size: 20px;
	z-index: 2;
}
#list2 ul li a p span{
	color: #d70057;
	font-weight: 700;
}
#list2 ul li a .time{
	position: absolute;
	left: 20px;
	bottom: 10px;
	color: #666;
}
#list2 ul li a .time i{
	color: #d70057;
	padding: 0 2px;
}
#gotop{
	position: fixed;
	margin-left: 615px;
	bottom: 70px;
	display: none;	
	left: 50%;
 
}
#gotop .top{
	background: url(../img/tt.png) no-repeat;
	width: 50px;
	height: 50px;
	display: block;
	margin: 10px 0 10px 0;
}
#gotop .feed{
	background: url(../img/tt.png) no-repeat 0 -60px;
	width: 50px;
	height: 31px;
	display: block;
}
