@charset "utf-8";
body{
	height: 10000px;
}
#top{
	width: 100%;
	height: 85px;
	overflow: hidden;
	position: relative;
}
#top .hpop-1{
	background: url(../img/top1.jpg) no-repeat right 0;
	position: absolute;
	width: 711.5px;
	height: 85px;
}
#top .hpop-2{
	background: url(../img/top2.jpg) no-repeat left 0;
	left: 50%;
	width: 711.5px;
	height: 85px;
	position: absolute;
}
.wrap{
	width: 1200px;
	margin: 0 auto;
}
#head {
	height: 28px;
	background: #f2f2f2;
	border-bottom: 1px solid #dcddcd;
	z-index: 100;
}
#head .head-info{
	float: right;
	line-height: 28px;
	width: 700px;
}
#head .head-info i{
	color: #d9d9d9;
	float: left;
	margin: 0 10px;
	font-weight: 700;
	width: 10px;
}
#head .head-info .login{
	float: left;
}
#head .head-info .login a{
	color: #5a5a5a;
	float: left;
}

#head .head-info .mine{
	float: left;
	padding: 0 10px;
	margin-left: 10px;
	border: 1px solid #f2f2f2;
	border-bottom: none;
	position: relative;
}
#head .head-info .mine.hover{
	background: #fff;
}
#head .head-info .arr{
	background: url(../img/icon.png) no-repeat -30px -37px;
	width: 11px;
	height: 7px;
	display: inline-block;
	margin-left: 4px;
}
#head .head-info .mine .arr.hover{
	background: url(../img/icon.png) no-repeat -16px -28px;
}
#head .head-info .mine .mine-hide{
	display: none;
	position: absolute;
	z-index: 9999;
	background: #fff;
	padding: 0 10px;
	border: 1px solid #f2f2f2;
	width: 80px;
	left: -1px;
	
}
#head .head-info .mobile{
	float: left;
	width: 100px;
	text-align: center;
	border: 1px solid #f2f2f2;
	border-bottom: none;
	position: relative;
}
#head .head-info .mobile.hover{
	background: #fff;
}
#head .head-info .mobile .mobile-hide{
	display: none;
	position: absolute;
	z-index: 9999;
	background: #fff;
	padding: 0 10px;
	border: 1px solid #f2f2f2;
	width: 80px;
	left: -1px;
}
#head .head-info .mobile .arr.hover{
	background: url(../img/icon.png) no-repeat -16px -28px;
}

#head .head-info .focus{
	float: left;
	width: 100px;
	text-align: center;
	border: 1px solid #f2f2f2;
	border-bottom: none;
	position: relative;
}
#head .head-info .focus.hover{
	background: #fff;
}
#head .head-info .focus .focus-hide{
	display: none;
	position: absolute;
	z-index: 9999;
	background: #fff;
	padding: 0 10px;
	border: 1px solid #f2f2f2;
	width: 80px;
	left: -1px;
}
#head .head-info .focus .arr.hover{
	background: url(../img/icon.png) no-repeat -16px -28px;
}

#head .head-info .client{
	float: left;
	padding: 0 10px;
	position: relative;
	width: 82px;
	border: 1px solid #f2f2f2;
}
#head .head-info .client.hover{
	background: #fff;
}
#head .head-info .client .arr.hover{
	background: url(../img/icon.png) no-repeat -16px -28px;
}
#head .head-info .client .client-hide{
	display: none;
	position: absolute;
	z-index: 9999;
	background: #fff;
	padding: 0 10px;
	border: 1px solid #f2f2f2;
	width: 82px;
	left: -1px;
}

#head .head-info .notice {
	float: left;
	padding: 0 10px;	
	margin-left: 10px;
	position: relative;
}
#head .head-info .notice .notice-1{
	border-bottom: none;
}
#head .head-info .notice.hover{
	background: #fff;
}
#head .head-info .notice .arr.hover{
	background: url(../img/icon.png) no-repeat -16px -28px;
}
#head .head-info .notice .notice-hide{
	display: none;
	padding: 10px;
	position: absolute;
	right: 0;
	width: 150px;
	border: 1px solid #f2f2f2;
	z-index: 9999;
	background: #fff;	
}

#head2{
	height: 110px;
	background: #f5f5f5;
	position: relative;
}

#head2 .search{
	margin-top: 23px;
	margin-left: 150px;
	width: 380px;
}
#head2 .search input{
	width: 354px;
	padding-left: 10px;
	line-height: 32px;
	border: 3px solid #d70057;
}
#head2 .search .submit{
	background: url(../img/icon2.png) no-repeat -31px -4px;
	width: 98px;
	height: 38px;
	cursor: pointer;
	position: absolute;
	top: 24px;
	left: 840px;
}
#head2 .search .hotword{
	margin-top: 5px;
}
#head2 .search .hotword a{
	color: #888;
	margin-right: 10px;
}
#head2 .cart{
	float: right;
	width: 148px;
	height: 32px;
	background: #ffda73 url(../img/icon2.png) no-repeat -238px -4px;
	color: #444;
	line-height: 32px;
	padding-left: 100px;
	margin-top: 28px;
}
#head2 .cart span{
	width: 165px;
	background: #fff;
	line-height: 27px;
	text-align: center;
	display: block;
	margin-top: 2px;
	margin-left: -19px;
}
#head2 .cart span b{
	color: #CC3333;
	font-family: "微软雅黑";
}

#nav2{
	width: 100%;
	height: 40px;
	background: #000;
}
#nav2 ul li{
	float: left;
	position: relative;
}
#nav2 ul li a.otls{
	background: url(../img/icon2.png) no-repeat -187px -46px;
	width: 122px;
	float: left;
	margin-top: -6px;
	height: 46px;
	display: block;
}
#nav2 ul li a.glb{
	background: url(../img/glb.gif) no-repeat;
	width: 120px;
}
#nav2 ul li a{
	width: 100px;
	text-align: center;
	display: block;
	color: #fff;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	font-family: "微软雅黑";
	position: relative;
}
#nav2 ul li a:hover{
	color: #d70057;
}
#nav2 .navsub{
	width: 1120px;
	height: 396px;
	position: absolute;
	background: #f99;
	left: -200px;
	padding: 10px;
}
#nav2 .navsub .navarr{
	position: absolute;
	top: -12px;
	left: 243px;
	color: #fff;
}
#nav2 .navsub .box1{
	width: 360px;
	border-right: 1px dashed #999;
	float: left;
}
#nav2 .navsub .box1 a{
	float: left;
	font-family: "微软雅黑";
	font-size: 12px;
	height: 26px;
	width: auto;
	margin-right: 15px;
	color: #5E5E5E;
	white-space: nowrap;
	display: inline;
}
#nav2 .navsub .box1 h2{
	font-size: 14px;
	color: #D20D33;
	margin-top: 10px;
}
#nav2 .navsub .box1 h3{
	font-weight: 700;
	font-size: 12px;
}
#banner{
	width: 100%;
	height: 350px;
	overflow: hidden;
	position: relative;
	float: left;
	margin-top: 1000px;
}
#banner .img-wrap{
	height: 100%;
	width: 100%;
	position: relative;
}
#banner .img-wrap a{
	display: block;
	height: 100%;
}
#banner .img-wrap img{
	height: 100%;
	width: 100%;
	position: absolute;
	display: none;
	top: 0;
	left: 0;
}
#banner .arrow{
	display: none;
	width: 40px;
	height: 50px;
	background: #ccc;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	opacity: 0.5;
	line-height: 50px;
	font-size: 30px;
	text-align: center;
	cursor: pointer;
}
#banner .arrow.arrow-left{
	position: absolute;
	left: 0;
}
#banner .arrow.arrow-right{
	position: absolute;
	right: 0;
}
#banner .circle{
	height: 20px;
	position: absolute;
	bottom: 5px;
	text-align: center;
	width: 100%;
}
#banner .circle .circle-wrap{
	display: inline-block;
}

#banner .circle .circle-item{
	width: 10px;
	height: 10px;
	border: 1px solid #fff;
	background: #fff;
	border-radius: 50%;
	float: left;
	margin: 0 6px;
	opacity: 0.5;
}
#banner .circle .circle-item.active{
	background: #db3962;
}
#banner .circle .circle-wrap:after{
	display: block;
	content: '';
	height: 0;
	clear: both;
}