@charset "utf-8";
*{
    font-family: "微软雅黑"
}
body, div, dl, dt, dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,th,td{margin:0;padding:0;}
/* 内外边距通常让各个浏览器样式的表现位置不同 */ 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,legend,input,textarea,p,blockquote,th,td,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { 
    margin:0; 
    padding:0; 
} 
/* 要注意表单元素并不继承父级 font 的问题 */ 
body,button,input,select,textarea { 
    font:12px SimSun,tahoma,arial,sans-serif; 
} 
/*input,select,textarea { 
    font-size:100%; 
}*/
 
/* 去除默认边框 */ 
fieldset,img { 
    border:none; 
} 
/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */ 
h1,h2,h3,h4,h5,h6 { 
    font-size:100%; 
}
h2{
    font-size: 16px;
}
h3{
    font-size: 14px;
    font-weight: normal;
}
ul,ol{
    list-style: none;
}
i,em{
    font-style: normal;
}
a{
    display: inline-block;
    outline: none;
    text-decoration: none;
}
span{
    display: inline-block;
}
/* IE6,7焦点点状线去除 */ 
a:focus,*:focus { 
    outline:none; 
}

/*解决select的浏览器兼容性。*/
select{padding:2px;}
/*解决设置windows窗口背景色后输入框和文本域变色的问题。*/
input[type="text"],
input[type="password"],
select{
    background: #fff;
    outline: none;
    -webkit-tap-highlight-color: transparent; 
    -webkit-user-select: none;
    -moz-user-focus: none;
    -moz-user-select: none;
    -webkit-appearance:none;
}
textarea{
    resize: none;
}
.btn{
    display: inline-block;
    text-align: center;
    border: none;
    outline: none;
    background: #fff;
}
.icon{
    display: inline-block;
    vertical-align: sub;
    text-align: center;
}

.clear::after {
    display: block;
    content: "";
    height: 0;
    clear: both;
    visibility: hidden;
}

.fl {
    float: left;
}

.fr {
    float: right;
}
.hide{
    display:none;
}
.show{
    display:block;
}
.main{
    width: 100%;
}
.nav{

}
.container{

}
.color-blue{
    color:#4ca9ec;
}

.color-black{
    color:#666666;
}

.color-gray{
    color:#c7e1f8; 
}

.color-green{
    color: #90d992;
}