.container .phone{
    position: relative;
    width: 3.97rem;
    height: 0.98rem;
    margin: 0 auto;
    margin-bottom: 0.6rem;
    margin-top: 1.18rem;
    border-bottom: 1px solid #ebebed;
}
.phone .phone_place,
.password .password_place,
.psw_again .again_place{
    font-size: 0.24rem;
    color: #adbfc9;
    position: absolute;
    top: 75%;
    left: 0;
    z-index: 9999;
    -display: none;
    margin-top: -0.28rem;
}
.phone .phone_txt,
.password .password_txt,
.psw_again .again_txt{
    z-index: 999;
    width: 100%;
    line-height: 0.24rem;
    height: 0.24rem;
    border: none;
    font-size: 0.21rem;
    color: #667d89;
    position: absolute;
    top: 50%;
}
.phone_title,
.password_title,
.again_title{
    font-size: 0.24rem;
    color: #adbfc9;
    position: absolute;
    top: 0.3rem;
    left: 0;
    z-index: 99;
    display: none;
    margin-top: -0.28rem;
}

.container .code {
    position: relative;
    width: 3.97rem;
    height: 0.98rem;
    margin: 0 auto;
    margin-bottom: 0.6rem;
    margin-top: 0.58rem;
    border-bottom: 1px solid #ebebed;
}
.container .code .code_place {
    font-size: 0.24rem;
    color: #adbfc9;
    position: absolute;
    top: 72%;
    left: 0;
    z-index: 9999;
    -display: none;
    margin-top: -0.28rem; }
.container .code .code_txt {
    z-index: 99;
    width: 2rem;
    line-height: 0.24rem;
    height: 0.24rem;
    border: none;
    font-size: 0.21rem;
    color: #667d89;
    position: absolute;
    top: 50%;
}
.container .code_title{
    font-size: 0.24rem;
    color: #adbfc9;
    position: absolute;
    top: 0.33rem;
    left: 0;
    z-index: 99;
    display: none;
    margin-top: -0.28rem;
}
.code_info{
    position: absolute;
    color: #fff;
    font-size: 0.22rem;
    line-height: 0.52rem;
    width: 1.43rem;
    right:0.04rem;
    top: 0.1rem;
}
.left{
    float: left;
    height: 0.98rem;
    width: 2rem;
}

.getcode{
    -position: absolute;
    right: 1.2rem;
    top: 2.84rem;
    width: 1.73rem;
    height: 0.72rem;
    float: right;
}
.code_img{
    width: 1.73rem;
    height: 0.72rem;
    right: 0;
    position: absolute;
}
.container .password{
    position: relative;
    border-bottom: 1px solid #ebebed;
    width: 3.97rem;
    height: 0.98rem;
    margin: 0 auto;
    margin-bottom: 0.6rem;
    margin-top: 0.68rem;
}
.container .psw_again{
    position: relative;
    border-bottom: 1px solid #ebebed;
    width: 3.97rem;
    height: 0.98rem;
    margin: 0 auto;
    margin-bottom: 0.6rem;
    margin-top: 0.68rem;
}

.login {
  width: 100%;
  color: #fff;
  margin-top: 1rem;
  position: relative;

}
.login_title{
  position: absolute;
  color: #fff;
  left:50%;
  font-size:0.26rem;
  margin-left: -0.24rem;
  top: 0.2rem;
  z-index: 999;
}
.back{
  margin: 0 auto;
  height: 0.77rem;

  width: 3.97rem;
  display: block;
  -box-shadow: 5px 5px 10px #D2F2FB;
}