@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: '微软雅黑';
    text-decoration: none;
    color: #667d89;
}

.content{
    width: 100%;
    height: auto;
}
.wap ul{
    padding: 0.6rem 0.26rem;
}
.wap ul li{
    word-wrap: break-word;
    overflow: hidden;
    font-size: 0.26rem;
}
.wap ul li span{
    font-size: 0.26rem;
    overflow: hidden;
    word-break: normal;
    display: block;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 0.6rem;
}