@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "宋体";
    text-decoration: none;
}

.content{
    width: 100%;
    height: auto;
}
.wap ul{
    float: left;
    margin:1rem 0.5rem 0 0.5rem;
}
.wap ul li{
    margin-bottom: 1rem;
    float: left;
    overflow: hidden;
}
.wap ul li span{
    font-size: 0.7rem;
    float: left;
    overflow: hidden;
    word-break: normal;
    display: block;
    white-space: pre-wrap;
    word-wrap: break-word;
}